KiCAD/devBoard/devBoard-backups/
KiCAD/t3001/t3001-backups/
KiCAD/devBoardv2/devBoardv2-backups/
*.kicad_prl
*fp-info-cache
KiCAD/USBaspProgrammer_Thomas-Fischl/fp-info-cache
KiCAD/USBaspProgrammer_Thomas-Fischl/USBaspProgrammer_Thomas-Fischl-backups/
KiCAD/USBaspProgrammer_usbasp_gr/USBaspProgrammer_usbasp_gr-backups/
KiCAD/USBaspProgrammer_usbasp_gr/USBaspProgrammer_usbasp_gr.kicad_prl
KiCAD/USBaspProgrammer-2in1/USBaspProgrammer-2in1-backups/
KiCAD/USBaspProgrammer-2in1/USBaspProgrammer-2in1.kicad_prl
Documents/Builds/
KiCAD/USBaspProgrammer-2in1/Gerber/
*.dsn
*round-tracks-config
*.rules
*.ses
