KiCAD/devBoard/devBoard-backups/
KiCAD/t3001/t3001-backups/
KiCAD/t3001/fp-info-cache
KiCAD/t3001/t3001.kicad_prl
KiCAD/devBoardv2/devBoardv2-backups/
KiCAD/devBoardv2/devBoardv2.kicad_prl
KiCAD/devBoard/devBoard.kicad_prl
KiCAD/devBoard/fp-info-cache
KiCAD/devBoardv2/fp-info-cache
KiCAD/USBaspProgrammer_Thomas-Fischl/fp-info-cache
KiCAD/USBaspProgrammer_Thomas-Fischl/USBaspProgrammer_Thomas-Fischl-backups/
KiCAD/USBaspProgrammer_Thomas-Fischl/USBaspProgrammer_Thomas-Fischl.kicad_prl
KiCAD/USBaspProgrammer_usbasp_gr/USBaspProgrammer_usbasp_gr-backups/
KiCAD/USBaspProgrammer_usbasp_gr/fp-info-cache
KiCAD/USBaspProgrammer_usbasp_gr/USBaspProgrammer_usbasp_gr.kicad_prl
